
.headerNav{
  background-color: rgb(239, 239, 243);
  display: flex;
  justify-content: space-between;

}

.headerhamburger{
  
  display: none;

}


.headerUl{
  
  display:flex;
  gap: 20px;
  list-style-type: none;
  padding-inline-start:0;

}

.hamburgerIcon{

display: none;

}
@media (max-width: 769px){
  .headerNav{
    display: none;
    flex-direction:column-reverse;

  }
  .hamburgerIcon{
    
    display:inline;
    height: 32px;
    width: 32px;

  }
  .headerhamburger{
    
    display: flex;
    flex-direction:column-reverse;


  }
}

.hoover:hover{
  font-size: 20px;
  color: blue;

}
.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.item {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
}



  

